*~
code/*.pyc
code/.*.password

#GW190510
events/GW190510/sims_and_data/
events/GW190510/sims.tar.gz
events/GW190510/logs/
events/GW190510/cut_results/
events/GW190510/sim_gen/
events/GW190510/report.txt

#GW190728
events/GW190728/sims_and_data/
events/GW190728/sims.tar.gz
events/GW190728/logs/
events/GW190728/cut_results/
events/GW190728/sim_gen/
events/GW190728/report.txt

#GW190814
events/GW190814/sims_and_data/
events/GW190814/sims.tar.gz
events/GW190814/logs/
events/GW190814/cut_results/
events/GW190814/sim_gen/
events/GW190814/report.txt

#GW190814_1001
events/GW190814_1001/sims_and_data/
events/GW190814_1001/sims.tar.gz
events/GW190814_1001/logs/
events/GW190814_1001/cut_results/
events/GW190814_1001/sim_gen/
events/GW190814_1001/report.txt

### testing (not unit tests yet)
events/test/
run_test.py

### scripts in progress
analysis/
